@model CepGestao.Models.Endereco

<h2>Novo Endereço</h2>

<form method="post">

    <div>
        <label>CEP</label>
        <input type="text" name="Cep" />
    </div>

    <div>
        <label>Logradouro</label>
        <input type="text" name="Logradouro" />
    </div>

    <div>
        <label>Complemento</label>
        <input type="text" name="Complemento" />
    </div>

    <div>
        <label>Bairro</label>
        <input type="text" name="Bairro" />
    </div>

    <div>
        <label>Cidade</label>
        <input type="text" name="Cidade" />
    </div>

    <div>
        <label>UF</label>
        <input type="text" name="Uf" />
    </div>

    <div>
        <label>Número</label>
        <input type="text" name="Numero" />
    </div>

    <br />

    <button type="submit">
        Salvar
    </button>

</form>
