@model CepGestao.Models.Endereco

<h2>Novo Endereço</h2>

<form method="post">

    <div>
        <label>CEP</label>
        <input class="form-control" type="text" name="Cep" id="cep" />
    </div>

    <p> 
    <div>
        <label>Logradouro</label>
        <input class="form-control" type="text" name="Logradouro" id="logradouro" />
    </div>
    </p>

    <p> 
    <div>
        <label>Complemento</label>
        <input class ="form-control" type="text" name="Complemento" />
    </div>
    </p>

    <p> 
    <div>
        <label>Bairro</label>
        <input class="form-control" type="text" name="Bairro" id="bairro" />
    </div>
    </p>

    <p> 
    <div>
        <label>Cidade</label>
        <input class="form-control" type="text" name="Cidade" id="cidade" />
    </div>
    </p>

    <p> 
    <div>
        <label>UF</label>
        <input class="form-control" type="text" name="Uf" id="uf" />
    </div>
    </p>

    <p> 
    <div>
        <label>Número</label>
        <input class="form-control" type="text" name="Numero" />
    </div>
    </p>   

    <button type="submit">
        Salvar
    </button>

    <script>

            document.getElementById("cep")
                .addEventListener("blur", async function () {

                const cep = this.value.replace("-", "");

                if (cep.length != 8)
                    return;

                const resposta = await fetch(
                    `https://viacep.com.br/ws/${cep}/json/`
                );

                const dados = await resposta.json();

                document.getElementById("logradouro").value =
                    dados.logradouro;

                document.getElementById("bairro").value =
                    dados.bairro;

                document.getElementById("cidade").value =
                    dados.localidade;

                document.getElementById("uf").value =
                    dados.uf;
            });

    </script>

</form>
